        	<table width="100%" >
            	
                    <tr>
                        <td width="60%" >
    
                            <img src="_wk/images/objectif.jpg" alt="objectifs"><strong>Objectifs : </strong>
                        </td>
                        
                        <td width="35%" >
                        	<img src="_wk/images/postit_petit3.jpg" alt="Post-it">Post-it!
                        </td>
                        
                   </tr>
               
                   
                   <tr>                                         
    
                        <td rowspan="4">
                        	<ul>
                           	<li> azerty </li>
                           	<li> azerty </li>
                          	<li> azerty </li>
                          </ul>
                        </td>
                        
                        	<tr>
                       			<td>
                       			<ul>
                        			<li> post-it </li>
                        			<li> post-it </li>
                        		</ul>
                        		</td>
                        	</tr>
                        
                         	<tr>
                        		<td>
                       				 <img src="_wk/images/liens.jpg" alt="Adresse"> Adresses Utiles
                       			 </td>
                        	</tr>
                        
                        	<tr>
                        		<td rowspan="4">
                        			<ul>
                        				<li> http://www.... </li>
                           			<li> http://www.... </li>
                          			<li> http://www.... </li>
                          		</ul>
                        		</td>
                        	</tr>
                       
                      
                    </tr>
                    	
                   <tr>
                   		<td>
                    		 <img src="_wk/images/infos.jpg" alt="Taches"><strong>Tâches : </strong>
                    	</td>
                    	
                    	<tr>
                    		<td rowspan="4">
                    			<ul>
                    				<li> azerty </li>
                         		<li> azerty </li>
                         		<li> azerty </li>
                         	</ul>
                    		</td>
                    	</tr>
                    </tr>
                    
          </table>