        	<table rules="all" frame="void" cellspacing="1" cellpadding="3" border="1" align="left" 
    			   style="border:2px inset;background-image:none;vertical-align:top;width:90%;background-color:rgb(204, 255, 204);text-align:left;">
            	<thead>
                    <tr>
                        <td>
    
                            <strong>Nom</strong>
                        </td>
                        <td>
                            <strong>R&ocirc;le</strong>
                        </td>
                        <td>
                            <strong>T&eacute;l&eacute;phone</strong>
    
                        </td>
                        <td>
                            <strong>Chat</strong>
                        </td>
                        <td>
                            <strong>Page</strong>
                        </td>
                    </tr>
    			</thead>
    			<tbody>
                    <tr>
                        <td>
                            <strong><em>Dupont</em></font></strong>
                        </td>
                        <td>
                            Responsable Clientèle
                        </td>
                        <td>
                            <font size="2">01/07/65/45/99</font>
                        </td>
                        <td>
    						<!-- Yahoo messenger : remplacer les 2 user_id par le bon login -->
    						<a href="ymsgr:sendIM?user_id">
    							<img src="http://onlinestatus.foxinus.cz:8085/yahoo/user_id"
    								 width="48" hspace="0" height="25" border="0" align="middle" alt="Bureau"
    								 onerror="this.onerror=null;this.src='http://osi.zonehosting.net/image/yahoounknown.gif';" />
    						</a>
    						<!-- MSN messenger : remplacer les 2 user_id par le bon login -->
    						<a href="http://osi.zonehosting.net/message/msn/user_id">
    							<img src="http://onlinestatus.foxinus.cz:8085/msn/user_id" 
    								 width="48" hspace="0" height="25" border="0" align="middle" alt="Bureau" />
    						</a>
    						<!-- AIM (AOL messenger) : remplacer les 2 user_id par le bon login -->
    						<a href="aim:goim?screenname=user_id">
    							<img src="http://osi.zonehosting.net/aim/user_id"
    								 align="absmiddle" border="0" ALT="AIM Online Status Indicator" onerror="this.onerror=null;this.src='http://osi.zonehosting.net/image/aimunknown.gif';">
    						</a>
    						<!-- ICQ : remplacer les 2 user_id par le bon login -->
                            <a href="http://osi.zonehosting.net/message/icq/user_id">
    							<img src="http://osi.zonehosting.net/icq/user_id" 
    								 align="absmiddle" border="0" alt="ICQ Online Status Indicator" onerror="this.onerror=null;this.src='http://osi.zonehosting.net/image/icqunknown.gif';">
    						</a>
                        </td>
                        <td>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
    						
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <br />
                        </td>
    
                        <td>
                            
                        </td>
                        <td>
                            <br />
                        </td>
                    </tr>
                </tbody>
            </table>

<!--
online status urls

ICQ : 
<a href="http://osi.zonehosting.net/message/icq/user_id">
	<img src="http://osi.zonehosting.net/icq/user_id" 
		 align="absmiddle" border="0" alt="ICQ Online Status Indicator" onerror="this.onerror=null;this.src='http://osi.zonehosting.net/image/icqunknown.gif';">
</a>

Yahoo :
<a href="ymsgr:sendIM?user_id">
	<img src="http://onlinestatus.foxinus.cz:8085/yahoo/user_id"
		 width="48" hspace="0" height="25" border="0" align="middle" alt="Bureau"
		 onerror="this.onerror=null;this.src='http://osi.zonehosting.net/image/yahoounknown.gif';" />
</a>
						
MSN :
<a href="http://osi.zonehosting.net/message/msn/user_id">
	<img src="http://onlinestatus.foxinus.cz:8085/msn/user_id" 
		 width="48" hspace="0" height="25" border="0" align="middle" alt="Bureau" />
</a>

AIM :
<a href="aim:goim?screenname=user_id">
	<img src="http://osi.zonehosting.net/aim/user_id"
		 align="absmiddle" border="0" ALT="AIM Online Status Indicator" onerror="this.onerror=null;this.src='http://osi.zonehosting.net/image/aimunknown.gif';">
</a>
-->