<table cellspacing="1" cellpadding="1" border="1">
	<thead style="background-color:#CCCCCC">
		<tr>
			<td><font color="#ff0000"><b>title 1<br /></b></font></td>
			<td><font color="#ff0000"><b>title 2<br /></b></font></td>
			<td><font color="#ff0000"><b>title 3<br /></b></font></td>
			<td><b><font color="#ff0000">title 4 <br /></font></b><br /></td>
		</tr>
	</thead>
	
	<tbody >
		<tr>
			<td><i>content 1<br /></i></td>
			<td><i>content 2<br /></i></td>
			<td><i>content 3<br /></i></td>
			<td><i>content 4<br /></i></td>
		</tr>
	</tbody>
</table>